@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,800&family=Paytone+One&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400;1,800&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .container {
        width: 100%;
        height: 100vh;
        background-image: url(https://raw.githubusercontent.com/reeoky/Card-Name/main/Img/background.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-box {
        background: rgba(225, 225, 225, 0.2);
        text-align: center;
        padding: 70px 100px;
        color: #fff;
        position: relative;
        border-radius: 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(225, 225, 225, 0.2);
    }

    .menu {
        width: 25px;
        position: absolute;
        left: 40px;
        top: 40px;
    }

   .setting {
        width: 25px;
        position: absolute;
        right: 40px;
        top: 40px;
    }

    .profile {
        width: 150px;
        border-radius: 50%;
        background-color: #fff;
        padding: 6px;
        margin-top: 40px;
        cursor: pointer; 
    }

    .profile-bottom {
        background: white;
        color: black;
        padding: 60px 0;
        margin-right: -100px;
        margin-left: -100px;
        margin-bottom: -70px;
        border-radius: 20px;
    }

    .profile-box {
        background: blue;
        color: white;
        border: none;
        outline: none;
        box-shadow: 0 5px 10px rgba(244, 67, 54, 0.5);
        padding: 15px 60px;
        cursor: pointer;
        border-radius: 30px;
        margin-bottom: -50px;
        font-weight: 600;
        font-size: 16px;
    }
        .apalah {
        background: blue;
        color: white;
        border: none;
        outline: none;
        box-shadow: 0 5px 10px rgba(244, 67, 54, 0.5);
        padding: 15px 60px;
        cursor: pointer;
        border-radius: 30px;
        margin-bottom: -50px;
        font-weight: 600;
        font-size: 16px;
        }
    .profile-box h3 {
        font-size: 30px;
        margin-top: 20px;
        font-weight: 600;
    }

    .medsos img {
        width: 30px;
        margin: 30px 5px;
        cursor: pointer;
    }

    .profile-popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        z-index: 999;
    }

    .profile-popup-content {
        background: white;
        color: black;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        z-index: 1000;
    }

    .profile-popup img {
        width: 150px;
        border-radius: 50%;
        margin: 10px;
    }

    .profile-popup h3 {
        font-size: 20px;
        font-weight: 600;
    }
/* CSS untuk popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
   background-color: white;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid white; /* Tambahkan border putih */
    padding: 20px; /* Tambahkan padding */
    border-radius: 10px; /* Melunakkan sudut kotak */
}

.popup img {
    display: block;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
}

/* CSS untuk deskripsi */
.description {
    color: black;
    font-size: 18px;
    margin-top: 10px;
}
